
#cabecera{
	font-family: times New Roman;
	font-size: 30px;
	font-align: center;
	color: blue;
	background-color: yellow;
}
.pregunta{
	background-color: blue;
	border-width: 8px;
	border-style: solid;
	border-color: black ;
}

.respuesta{
	border-width: 1px;
	border-style: dashed;
	border-color: black;
}